<!-- Add your content of header -->
<!-- <div class="background-color-layer" style="background-image: url('assets/images/img-01.jpg')"
></div> -->
<main class="content-wrapper">

  <app-header></app-header>

<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">
      <app-about></app-about>
      <app-project></app-project>
      <app-work></app-work>
      <app-education></app-education>
        <!-- <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">French  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Russian  <small>Beginner</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

             Wrapper for slides 
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./assets/images/img-05.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="./assets/images/img-06.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="./assets/images/img-08.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

             Indicators 
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div> -->
        <!-- <app-network></app-network> -->
        <app-contact></app-contact>
     </div>
   </div>
 </div>
</main>
<app-footer></app-footer>
