.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}
.content {
  width: 70%;
}
.title {
  letter-spacing: 0em;
  padding-bottom: 30px;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.11429;
  font-family: "Segoe UI";
}
.message {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
