.header {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  color: rgb(236, 239, 241);
  background-color: rgb(22, 28, 36);
  min-height: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.picsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.nav {
  color: rgb(224, 224, 224);
  text-decoration: none;
  margin-left: 10px;
  font-size: 24px;
}
