.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.img {
  border-radius: 50%;
}

.title {
  font-size: 35px;
  font-weight: 500;
  font-family: "Segoe UI";
  margin: 20px;
}
