.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  max-width: 900px;
  letter-spacing: 0em;
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1.11429;
  font-family: "Segoe UI";
}

.btn {
  background-color: #161c24;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #eceff1;
}
